<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    1、mybatis可以使用properties来引入外部properties文件的内容
    resource：引入类路径下的资源
    url：引入网络路径或磁盘路径下的资源
    -->
    <properties resource="mybatis.properties"></properties>
    <!--
    2、settings包含很多重要设置项
        setting用来设置每一个设置项
            name：设置项的名字
            value：设置项的取值
    -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--3、typeAliases-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.Driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="cn.itcast.mybatis.mapper.UserMapper"></mapper>
    </mappers>

</configuration>